[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
aiounittest = "*"
pipenv-setup = "*"
twine = "*"
secretstorage = ">=3.1.0"
coveralls = "*"
coverage = "*"
codecov = "*"
jupyter = "*"
notebook = "*"
versioneer = "*"

[packages]
exitstatus = "*"
aiofiles = "*"
aioconsole = "*"
env = "*"

[pipenv]
allow_prereleases = true
